body {
  background-color: #47baa1;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  width: 150px;
}

button:hover {
  background-color: #e91f1f;
}


/* for home page */
img {
  /* Set a maximum width of 100% to make the image responsive */
  max-width: 100%;

  /* Add some margin to the top and bottom of the image to create some space */
  margin-top: 10px;
  margin-bottom: 10px;

  /* Add a border to the image */
  border: 1px solid black;

  /* Add some padding around the image */
  padding: 0px;

  /* Center the image horizontally within its container */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#content {
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
}

h1 {
  font-size: 25px;
  text-align: center;
  color: #e91f1f;
}

hr {
  border: none;
  height: 3px;
  background-color: #0d1f2e;
}

/* #home {
  float: left;
  margin-left: 10px;
}

#admin {
  float: right;
  margin-right: 10px;
} */

/* Center the form on the page */
form {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

/* Style the form labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Style the input fields */
input[type="text"],
input[type="email"],
textarea {
  width:50%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}


 